<h1> My Restaurants </h1>

<% @restaurants.each do |restaurant| %>
<ul>
<li><%= link_to restaurant.title, restaurant_path(restaurant) %></li>
</ul>
<% end %>
<%= link_to "add new restaurant", new_restaurants_new_path %>